<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monkey.mapper.UserMapper">

	<!-- 分页查询用户 -->
	<select id="findByPage" resultType="hashmap">
		select u.*, r.roleName from t_user u
		left join t_role r on r.dbid = u.roleId
		<where>
			<if test="keyword != null and keyword != ''">
				and u.user_name like concat("%", #{keyword}, "%")
			</if>
		</where>
		limit #{pu.index},#{pu.pageSize}
	</select>
	
	<!-- 通过用户名查询 -->
	<select id="findByUserName" resultMap="userMap">
		select * from t_user where user_name = #{userName}
	</select>
	
	<!-- 通过用户名查询该用户的角色 -->
	<select id="findRoles" resultType="string">
		select r.roleName from t_role r left join t_user u on u.roleId = r.dbid where u.user_name = #{userName}
	</select>
	
	<!-- 统计用户总数量 -->
	<select id="total" resultType="long">
		select count(*) from t_user u
		<where>
			<if test="keyword != null and keyword != ''">
				and u.user_name like concat("%", #{keyword}, "%")
			</if>
		</where>
	</select>
	
	<!-- 通过用户名查询该用户的权限 -->
	<select id="findPermissions" resultType="string">
		select m.menuCode from t_menu m
		left join t_role r on m.roleId = r.dbid
		left join t_user u on u.roleId = r.dbid
		where u.user_name = #{userName}
	</select>
	
	<!-- 添加 -->
	<insert id="add">
		INSERT INTO `t_user`
		            (`dbid`,
		             `user_name`,
		             `password`,
		             `roleId`,
		             `status`)
		VALUES (null,
		        #{userName},
		        #{password},
		        #{roleId},
		        #{status})
	</insert>
	
	<!-- 删除用户 -->
	<delete id="delete">
		delete from t_user where dbid = #{id}
	</delete>
	
	<!-- 通过主键查询 -->
	<select id="findById" resultMap="userMap">
		select * from t_user where dbid = #{id}
	</select>
	
	<!-- 更新 -->
	<update id="update">
		UPDATE `t_user`
		SET `user_name` = #{userName},
		    `password` = #{password},
		    `roleId` = #{roleId},
		    `status` = #{status}
		WHERE `dbid` = #{id}
	</update>
	
	<!-- 结果集映射 -->
	<resultMap type="com.monkey.vo.User" id="userMap">
		<id column="dbid" property="id" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="status" property="status" />
		<result column="roleId" property="roleId" />
	</resultMap>

</mapper>